*{
    margin:0;
}

html, body{
    position: relative;
    height: 100vh;
}

.displayLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}


.rakel {
    width: 100%;
    height: 100vh;
    position: absolute;
    animation-name: print;
    animation-duration: 9s;
    animation-delay: 0s;
    background-color: white;
    left: 150%;
  }
  
  @keyframes print {
    0%   {left:-10%; top:0%;}
    100% { left:100%; top:0%; overflow:hidden; visibility: hidden;}
  }